extends layout

block content

    div(class='content about')
        center
            img(src="/images/hola.gif" height='120px')
            div(style="float:left; margin-top:20px;text-Align:left")
              br
              a(href="https://m.me/celerno") facebook msg
              br
              a(target='_top' href="mailto:celerno@gmail.com") &#x2709;&#x2709;&#x2709;&#x2709;&#x2709; 
              br
              a(href="https://twitter.com/sonrisapunk", class="twitter-follow-button") tuiter
              br
              script(src='//platform.linkedin.com/in.js')
              script(type="IN/MemberProfile" data-id="https://www.linkedin.com/in/celerno" data-format="click" data-text="en linkedin")
              br
              a(href="http://stackoverflow.com/story/celerno") 				stackoverflow!!!
              br
              a(href="https://github.com/celerno") github 
