extends layout

block content
    meta(name='description' content='Te sirve un programador? Need a dev? /contact')
    div(class='content about')
        img(src='/images/me.jpg' height='150', class='text-left') 
        span(class='sp') Planteamiento. 
        span(class='en') una persona joven bajo la presión de sus padres adoptivos y de las expectativas del mundo en general, decide utilizar sus fondos de estudios para emprender la búsqueda de su familia biológica. 
        span(class='sp') Nudo. 
        span(class='en') La búsqueda, iniciada en secreto, comienza a conducir a un camino oscuro de su familia adoptiva y de su aparente familia biológica. 
        span(class='sp')  Desenlace. 
        span(class='en') Un miembro de la familia adoptiva había sido víctima de la familia biológica, del conflicto no quedó nadie, más que la petición a otros familiares que adoptaran al personaje principal.  
        br

        
            
