extends layout

block content
    meta(name='hablapormi' content='twitter.com/hablapormi')
    
    list
        ul Localiza la terminal de arriba
        ul Escribe <i><b>tweet</b><i> seguido de el tuit que desees. Ejemplo:
            ul <b>tweet</b> <i>Hola!, soy @</i>
        ul revisa tu timeline.
    a(class="twitter-timeline", href="https://twitter.com/hablapormi") tuits de @hablapormi  </a>
    a(href="https://twitter.com/hablapormi",class="twitter-follow-button") seguir </a>
