extends layout

block content

  div(class='content')
    h1
    img(id='render' height='100' width='400')
    br
    script.
        gifText(document,"I am the world's forgotten boy")

    span(class="sp") este
    span(class="en") this
    span(class="sp") sitio
    span(class="en") site
    span(class="sp") está
    span(class="en") is
    span(class="sp") en
    span(class="en") under
    span(class="sp") proceso
    span(class="en") development
    br
    
  
  
      

