extends layout

block content
  h1= title
  span(class="sp") este
  span(class="en") this
  span(class="sp") sitio
  span(class="en") site
  span(class="sp") está
  span(class="en") is
  span(class="sp") en
  span(class="en") under
  span(class="sp") proceso
  span(class="en") development
  
  
      

