extends layout

block content

  div(class='content')
    h1 
    
    center 
        img(id='render' height='100' width='400')
    script.
        gifText(document,"I am the world's forgotten boy")

    
    
  
  
      

