extends layout

block content
    script. 
        $(term_demo).hide();
    
    h1 Tallermínimo de datos abiertos
    div 
        ul 
            li ¿Qué son los datos abiertos? 
                a(href = '#datosabiertos') &#10149;  
            li Movimiento Open Source
            li Clasificación de sitios con datos abiertos. 5min
            li Conceptos generales (tipos de datos, fuentes, formatos, links, open source). 10 m.
            li Encontrando datos abiertos (datos.gob.mx, datamx.io, http://www.beta.inegi.org.mx/servicios/datosabiertos.html) 15 min
            li Procesando datos abiertos 30m
            ul
                li  1er ejemplo: encontrar datos listos para procesar y procesarlos.
                li  2do ejemplo: encontrar datos en pdf y procesarlos.
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    
    a(name='datosabiertos')
    h1 Datos abiertos
    h3
        a(target='_blank', href='https://es.schoolofdata.org/que-es-un-dat/#De_los_datos_a_la_informacion_y_al_conocimiento') ¿Qué es un dato?
    div(style="width:60em") 
        p Todo empieza con una pregunta.
        p La mayoría de las personas comienzan a buscar datos cuando tienen una pregunta en mente.
        p Por ejemplo: ¿Cuánto llueve en mi ciudad? o ¿Cómo gasta el gobierno el dinero? Una pregunta es una buena manera de iniciar una búsqueda de datos. Te ayuda a concentrarte y encontrar argumentos que te servirán para resolver tu pregunta. También te ayuda a seleccionar al tipo de audiencia interesada en la temática de tu pregunta, y así crear tu historia.
        p Y… ¿Si no tengo pregunta? En ese caso, puedes empezar a explorar. Eventualmente, te encontrarás con una base de  datos que llame tu atención, y puedes usar la información como si fuera tu pregunta inicial. Si encuentras un patrón en los datos, dicho patrón puede explicarse cuando averigues por qué se da. Generalmente, vale la pena contar estas historias.
        img(style="width:60em", src="https://datos.gob.mx/public/img/uploads/57fbdbb1764f286c00065034/57fbdbb1764f286c00065034-0.png")
    
    a(name='opensource')
    h1 Movimiento Open Source
    h3
        ul
            li 
                a(href="https://libreoffice.org") libreoffice.org   
            li                 
                a(href="https://spreadsheet.google.com") spreadsheet.google.com
            li
                a(href="https://notepad-plus-plus.org/") notepad++               
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br 
    
    a(name='opendatalevel')
    h1 Profundidad de datos abiertos.
    h3
            h4 Las cinco estrellas de los datos abiertos.
            ul 
               li
                a(href="https://5stardata.info/es/") 5 star
                
            
                
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
   
    
    a(name='encontrando')
    h1 Conceptos Generales
    h3
        ul
            li csv (delimitado por comas)
            li txt (delimitador especial)
            li scripts (...)
            li bases de datos (excel, insert scripts, etc)
        br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br