html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit !important;
}

body {
  position: relative !important;
  margin: 0;
  margin-bottom: 0px;
  padding-bottom: 0rem !important;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


/**
 * Footer Styles
 */

.footer {
  position: absolute !important;
  right: 0;
  bottom: 360px;
  left: 80px;
  padding: 1rem !important;
  background-color: #efefef;
  text-align: center;
}